<body>






  <p id="demo"></p>


  </body>

<nav id="navbar">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
  <div class="logo">
      <!-- Logo Placeholder for Illustration -->
      <a href="#home"><img width="130px" height="auto" src="assets/images/logo.png"></a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">

      <li style="color: black;"><a href="#home">Home</a></li><!--
   --><li style="color: black;"><a href="#services">Services</a></li><!--
   --><li style=" color: black;"><a href="#resources">Resources</a></li><!--
   --><li style="color: black;"><a href="#about">Checklist</a></li><!--
   --><li style="color: black;"><a href="">Userguides</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <ul id="button">

    <li style="background-color: navy; margin: 4px 2px;padding-right:10px;border-top: 2px;background-origin: padding-box;border-radius: 8px; border: 2px;border-left: 2px;border-right: 2cap;margin-top: auto;color: white;"><a href="#signup">Signup</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <li style="background-color: navy;border-top: 2px;background-origin: padding-box;border-radius: 8px; border: 2px;border-left: 2px;border-right: 2cap; color: white;"><a href="#signup">Login</a></li>
  </ul>
  </ul>

  </div>
</nav>


<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>


<div class="overlay-menu">
  <ul id="menu">

      <li><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#Resources">Services</a></li>
      <li><a href="#about">Checklist</a></li>
      <li><a href="#contact">Userguides</a></li>
      <li><a href="#signup">Signup</a></li>
      <ul id="button">
        <li style="background-color: navy; margin: 4px 2px;padding-right:10px;border-top: 2px;background-origin: padding-box;border-radius: 8px; border: 2px;border-left: 2px;border-right: 2cap;margin-top: auto; "><a href="#signup">Signup</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li style="background-color: navy;border-top: 2px;background-origin: padding-box;border-radius: 8px; border: 2px;border-left: 2px;border-right: 2cap;"><a href="#signup">Login</a></li>
      </ul>

    </ul>
  </div>

