<!-- Header -->
<div class="header">
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>
</div>
<div class="icons">
    <div class="right-side">
        <app-nav-icon (buttonClick)="popUpNotification()" [iconList]="icons"></app-nav-icon>
    </div>
</div>

<!-- The flexible grid (content) -->
<div class="row" style="width: 100%; min-height: 64.7%;">
    <div class="side">
        <app-slider></app-slider>
        <app-category [tasks]="tasks"></app-category>
        <app-filter-rating></app-filter-rating>
    </div>
    <div class="main">
        <div class="d-flex flex-row justify-content-between sort-search-box">
            <app-sort></app-sort>
            <app-search></app-search>
        </div>
        <div *ngFor="let _ of [1, 2, 3]">
            <app-item-card routerLink="./1"></app-item-card>
        </div>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>