<app-navbar></app-navbar>
<!-- 
<div class="background">
    <div class="head">
        <h3>Elevate your event with</h3>
        <h1><b>EVENTIFY</b></h1>

    </div>
    <div class="para">
        <P>Create, manage, and promote unforgettable events effortlessly with our<br> user-friendly platform designed to
            streamline every aspect of event<br> planning.</P>

    </div>


    <div class="girl">
        <img src="assets/images/girl.png">

    </div>

</div>
<div> -->
    <!-- <app-card *ngFor="let _ of [1,2,3]"></app-card> -->
<!-- </div>
<div class="container d-flex justify-content-around w-100">

    <div *ngFor="let _ of [1,2,3]" class="container d-flex flex-column justify-content-center gap-2 align-content-center card w-25 p-3 align m-4">
        <img class="w-25" src="assets/images/User.png">
        <h4 class="center">Good User</h4>
        <p>Efficiently manage vendors with Create, Read, Update, and Delete operations, ensuring accurate and up-to-date
            information</p> 
    </div>
</div> -->

<app-footer></app-footer>
