
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Website Homepage HTML and CSS | CodingNepal</title>

  </head>
  <body>

    <section class="hero-section">



      <div class="hero">
        <h2>Elevate your event with</h2><br><br><br><br><br>
        <h1>EVENTIFY</h1>
        <p>
          Create, manage, and promote unforgettable events effortlessly with our
          user-friendly platform designed to streamline every aspect of event
          planning.
        </p>
        <div class="buttons">
          <a href="#" class="join">Signup for free</a>

        </div>

      </div>
      <br><br><br>
      <div class="img">
        <img src="assets/images/girl1.png" alt="girl1" />
      </div>

    </section>

  </body>
</html>
