.section {
  background-color: rgb(117, 113, 113);


 }

 .example-button-row .mat-mdc-button-base {
   margin: 100px 100px 100px 100px;
   color: black;
   font-weight: bold;
   text-align: left;
   padding: 50px 40px 60px 20px;
   align-items: center;
   align-items: inline;

 }
 h4{
   font-weight: 100;
 }
