<div class="section">
  <div class="heading">
    <h1>USER GUIDES FOR ALL USERS</h1>
  </div>
  <div class="example-button-row">
    <button mat-raised-button routerLink="/button-gs">Getting Started<h4>First step with Eventify.Learn how to <br>produce an event in simple way.</h4></button>
    <button mat-raised-button routerLink="/button-h">Home<h4>Checkout all the features and<br> settings you can make to your account <br>from the home.</h4></button>
    <button mat-raised-button routerLink="/button-em">Event Management<h4>Access to the configuration of your event,<br> all the production possibilities of the <br> engagement and the view.</h4></button>

  </div>



  <div class="example-button-row">
    <button mat-raised-button routerLink="/button-cc" >Checklist creation<h4>You can easily make checklist and<br> agenda with the AI support with Eventify</h4></button>
    <button mat-raised-button routerLink="/button-cb">Chat Bot<h4>You can easily communicate with your<br> vendors using chat bot and communicate<br> every details.</h4></button>
    <button mat-raised-button routerLink="/button-faq">FAQs<h4>Check the advice and<br> recommendations ,support from the<br> Eventify.</h4></button>

  </div>
</div>


