



<nav id="navbar">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
  <div class="logo">
      <!-- Logo Placeholder for Illustration -->
      <a href="#home"><img width="130px" height="auto" src="assets/images/logo.png"></a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">

      <li style="color: black;"><a href="#home">Home</a></li><!--
   --><li style="color: black;"><a href="#services">Services</a></li><!--
   --><li style=" color: black;"><a href="#resources">Resources</a></li><!--
   --><li style="color: black;"><a href="#about">Checklist</a></li><!--
   --><li style="color: black;"><a href="">Userguides</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <ul id="button">

    <li style="background-color: navy; margin: 4px 2px;padding-right:10px;border-top: 2px;background-origin: padding-box;border-radius: 8px; border: 2px;border-left: 2px;border-right: 2cap;margin-top: auto;color: white;"><a href="#signup">Signup</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <li style="background-color: navy;border-top: 2px;background-origin: padding-box;border-radius: 8px; border: 2px;border-left: 2px;border-right: 2cap; color: white;"><a href="#signup">Login</a></li>
  </ul>
  </ul>

  </div>
</nav>





<div class="overlay-menu">
  <ul id="menu">

      <li><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#Resources">Services</a></li>
      <li><a href="#about">Checklist</a></li>
      <li><a href="#contact">Userguides</a></li>
      <li><a href="#signup">Signup</a></li>
      <ul id="button">
        <li style="background-color: navy; margin: 4px 2px;padding-right:10px;border-top: 2px;background-origin: padding-box;border-radius: 8px; border: 2px;border-left: 2px;border-right: 2cap;margin-top: auto; "><a href="#signup">Signup</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li style="background-color: navy;border-top: 2px;background-origin: padding-box;border-radius: 8px; border: 2px;border-left: 2px;border-right: 2cap;"><a href="#signup">Login</a></li>
      </ul>

    </ul>
  </div>






<body>
<div class="bg-image"></div>
  <section class="hero-section">



    <div class="hero">
      <h2>Elevate your event with</h2><br><br><br><br><br>
      <h1>EVENTIFY</h1>
      <p>
        Create, manage, and promote unforgettable events effortlessly with our
        user-friendly platform designed to streamline every aspect of event
        planning.
      </p>


    </div>
    <br><br><br>
    <div class="img">
      <img src="assets/images/girl1.png" alt="girl1" />
    </div>

  </section>

</body>

<div class="section">

  <div class="example-button-row">
    <button mat-raised-button routerLink="/button-gs">Getting Started<h4>First step with Eventify.Learn how to <br>produce an event in simple way.</h4></button>
    <button mat-raised-button routerLink="/button-h">Home<h4>Checkout all the features and<br> settings you can make to your account <br>from the home.</h4></button>
    <button mat-raised-button routerLink="/button-em">Event Management<h4>Access to the configuration of your event,<br> all the production possibilities of the <br> engagement and the view.</h4></button>

  </div>



  <div class="example-button-row">
    <button mat-raised-button routerLink="/button-cc" >Checklist creation<h4>You can easily make checklist and<br> agenda with the AI support with Eventify</h4></button>
    <button mat-raised-button routerLink="/button-cb">Chat Bot<h4>You can easily communicate with your<br> vendors using chat bot and communicate<br> every details.</h4></button>
    <button mat-raised-button routerLink="/button-faq">FAQs<h4>Check the advice and<br> recommendations ,support from the<br> Eventify.</h4></button>

  </div>
</div>

<!-- Footer -->
<div class="footer">
  <p>&copy; 2024 Eventify.lk. All Rights Reserved | </p>
</div>
