<div class="section">
  <div class="phara">
    <p>We have integrated a live chat feature into our system. We are going to integrate existing
      software to develop this feature. The live chat feature enhances vendor-planner
      interactions, fostering effective communication and quick issue resolution.</p>
  </div>

    <div class="heading">
      <h1>What is Eventify...</h1>
    </div>
    <div class="phara">
      <p> Events are integral to corporate entities. They offer a unique opportunity to strengthen employee relationships, fostering a sense of camaraderie and unity within the organization. Simultaneously, events serve as potent branding tools, enabling companies to enhance their public image and expand their reach. By participating in and organizing events, businesses engage with their target audience and make a lasting impression. These gatherings leave a lasting impact on attendees, whether through memorable experiences or specific messaging. Furthermore, events serve as a platform for showcasing products, services, or achievements, effectively boosting brand presence and reputation.</p>

    </div>
    <div>
      <h2>Getting Started</h2>
      <div class="content">
        <img >
        <p>How to SignUp</p>
        <p>Create your first event</p>
        <p>Select vendors by comparing</p>
      </div>
    </div>
  </div>






