
<body>


   <div class="container">
    

    <div class="content">
        
        <div class="changepw">
            <!-- <div class="back">
                <p><img src="/assets/images/back.png">Go back</p>
                </div> -->
            <h2>Change Password</h2>
        
    <label for="Cpsw"><b>Current Password</b><br></label>
    <input type="currentpassword" placeholder="Enter current password" name="currentpassword" required><br><br>
      
    <label for="Npsw"><b>New Password</b><br></label>
    <input type="newpassword" placeholder="Enter New password" name="newpassword" required><br><br>

    <label for="Npsw"><b>Confirm New password</b><br></label>
    <input type="confirmnewpassword" placeholder="confirm New password" name="confirmnewpassword" required><br><br>


    <button type="submit" class="signupbtn">Set Passsword</button>

        </div>
    </div>
   </div>
</body>
