<!-- <body>
<div class="form">
  <div class="form-box">
    <div class="form-details">

    <h2>Login </h2>
    <p>Login with your email address and password</p>
    </div>
    
    
      
    
      <div class="container">
        <form action="#">
        <div class="input-field">
          <label for="Email"><b>E mail Address</b><br></label>
        <input type="text" placeholder="Enter Email Address" name="Email" required>

        </div>
        <div class="input-field">
          <label for="psw"><b>Password</b><br> </label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        </div>
        <a href="#" class="forgot-pw">Fogot Password?</a>
        <button type="submit">Login</button>
    
  </form>

      <div class="bottom link">
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me<br>
        </label>
        Don’t you have an account ? <a href="#">SignUp</a>


      </div>
    </div>
  </div>
  
</div>
</body> -->

<body>
  <div class="container">
   <div class="content">
       <div class="changepw">
           <h2>Login</h2>

           <p>Login with your E-mail address and<br> password</p><br>
       
   <label for="Cpsw"><b>E mail Address</b><br></label>
   <input type="currentpassword" placeholder="Enter current password" name="currentpassword" required><br><br>
     
   <label for="Npsw"><b> Password</b><br></label>
   <input type="newpassword" placeholder="Enter New password" name="newpassword" required><br>
   <p><a href="#">Forget Password?</a></p><br>


   <button type="submit" class="signupbtn">login</button>

   <p>don't you have an account?<a href="#">Sign Up</a></p>

       </div>
   </div>
  </div>
</body>
