<body>
    <div class="container">
     <div class="content">
         <div class="changepw">
             <h2>Edit Profile</h2>
  
             
         
     <label for="Cpsw"><b>Company Name</b><br></label>
     <input type="currentpassword" placeholder="spinWave" name="Company Name" required><br><br>
     <label for="Cpsw"><b>Contact person Name</b><br></label>
     <input type="currentpassword" placeholder="Deepthi perera" name=" Contact person Name" required><br><br>

     <label for="Cpsw"><b>E-mail Address</b><br></label>
     <input type="E-mail Address" placeholder="Enter E-mail Address" name=" E-mail Address" required><br><br>
     <label for="Cpsw"><b>Phone number</b><br></label>
     <input type="E-mail Address" placeholder="+9477665678" name=" Phone number" required><br><br>
     <label for="Cpsw"><b> Address</b><br></label>
     <input type="E-mail Address" placeholder="527/7,molpe road,katubedda" name=" Address" required><br><br>
     <label for="Cpsw"><b>City</b><br></label>
     <input type="E-mail Address" placeholder="moratuwa" name=" city" required><br><br>
       
     

     <label for="Set reminder frequency">Set reminder frequency</label>

   <select id="Set reminder frequency" name="Set reminder frequency">
  <option value="monthly">Monthly</option>
  <option value="weekly">Weekly</option>
  <option value="daily">Daily</option>
  
</select><br><br>






<label for="Set reminder Type">Set reminder Type</label>
<select id="Set reminder Type" name="Set reminder Type">
  <option value="Email">Email</option>
  <option value="SMS">SMS</option>
  </select>
     
  
     <button type="submit" class="Save">Save</button>
  
     
         </div>
     </div>
    </div>
  </body>
  
